* {
    margin: 0;
    padding: 0;
}

.mailinfo {
    margin-right: 20px;
    margin-left: 10px;
}

.telinfo {
    margin-left: 10px;
}

.maj {
    text-transform: uppercase;
}

.InfoBox {
    position: fixed;
    z-index: 0;
    width: 718px;
    height: 350px;
    top: -1000px;
    transition: top 1s ease-in-out;
    background-color:#111;
    color: white;
    font-size: 1.5em;
    left: 30%;
    text-align: justify;
    padding: 30px;
    border: 2px solid #dc3545;;
    border-radius: 10px;
    box-shadow: 20px 19px 10px #111;
}

.InfoBox.active {
    top: 40% !important;
}

@media screen and (max-width: 1080px) {
    .InfoBox {
        left: 20%;
    }
}

@media screen and (max-width: 914px) {
    .InfoBox {
        left: 10%;
    }
}

@media screen and (max-width: 810px) {
    .InfoBox {
        font-size: 0.8em;
        height: 223px;
        width: 593px;
    }
}

@media screen and (max-width: 662px) {
    .InfoBox {
        position: initial;
        width: 100%;
        height: auto;
        text-align: center;
    }
}

p {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

.entete {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.entete .size-logo-menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.entete div ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.entete div ul li .btn-perso {
    width: 100px;
}

.entete div ul li {
    padding-left: 100px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}